<div class="container">
    <h1 class="display-4 text-center">{{titulo}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Tipo</th>
            </tr>
        </thead>
        <tbody>
            {% for ponto in pontos %}
                <tbody>
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{ponto.nome}}</td>
                        <td>{{ponto.latitude}}</td>
                        <td>{{ponto.longitude}}</td>
                        <td>{{ponto.tipo}}</td>
                    </tr>
                </tbody>
            {% else %}
                <tr>
                    <th scope="row">1</th>
                    <td>Nenhum cliente cadastrado</td>
                    <td>Nenhum cliente cadastrado</td>
                    <td>Nenhum cliente cadastrado</td>
                    <td>Nenhum cliente cadastrado</td>
                </tr>
            {% endfor %}
        </tbody>
    </div>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
